<h1>Calorie Calculator</h1>

<form>
    <label>Enter Age:</label>
    <input type="number" placeholder="Age">
    <label>Enter Weight:</label>
    <input type="number" placeholder="Weight">
    <label>Enter gender:</label>
    <select name="gender">
        <option value="" disabled>Enter Gender</option>
        <option value="">Male</option>
        <option value="">Female</option>
    </select>
    <label>Enter height:</label>
    <input type="number" placeholder="height">
    <label>Enter Activity Level:</label>
    <select name="level" id="">
        <option disabled value="">Enter your Activity Level</option> 
        <option>Sedentary (little to no exercise)</option>
        <option>Lightly active (light exercise/sports 1-3 days/week)</option>
        <option>Moderately active (moderate exercise/sports 3-5 days/week)</option>
        <option>Very active (hard exercise/sports 6-7 days/week)</option>
        <option>Extra active (very hard exercise/sports & physical job)</option>
    </select>
    <label>Enter Goal:</label>
    <select name="goals" id="">
        <option disabled value="">Enter your Goal</option>
        <option>Maintain current weight</option>
        <option>Lose weight</option>
        <option>Gain weight</option>
    </select>
</form>
