<div class="px-20 py-10">

<form [formGroup]="CalorieForm" class="px-20 py-6">
  <div class="py-4 text-center">
    <h1 class="text-[35px] font-semibold">Unveil Your Nutritional Destiny</h1>
  </div>
  <div class="grid grid-cols-2 gap-6">
  <div class="field">
    <span><i class="fa-regular fa-calendar"></i></span>
     <input type="number" placeholder="Age" formControlName="age" />
    <div *ngIf="CalorieForm.get('age')?.invalid && (CalorieForm.get('age')?.dirty || CalorieForm.get('age')?.touched)" >
      <div *ngIf="CalorieForm.get('age')?.errors?.['required']" class="text-red-800">Age is required.</div>
      <div *ngIf="CalorieForm.get('age')?.errors?.['min'] || CalorieForm.get('age')?.errors?.['max']" class="text-red-800">Age must be between 1 and 100.</div>
    </div>
  </div>

  <div class="field">
    <span><i class="fa-solid fa-weight-scale"></i></span>
   <input type="number" placeholder="Weight" formControlName="weight" />
  </div>
  <div class="field">
    <span><i class="fa-solid fa-venus-mars"></i></span>
    <select name="gender" formControlName="gender">
      <option value="" disabled selected>Select Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </div>
  <div class="field">
    <span><i class="fa-solid fa-ruler-vertical"></i></span>
    <input type="number" placeholder="height(cm)" formControlName="height" />
  </div>
  <div class="field">
    <span><i class="fa-solid fa-person-walking"></i></span>
    <select name="level" id="" formControlName="activity">
      <option disabled value="" selected>Select Activity Level</option>
      <option value="sedentary">Sedentary (little to no exercise)</option>
      <option value="light">
        Lightly active (light exercise/sports 1-3 days/week)
      </option>
      <option value="moderate">
        Moderately active (moderate exercise/sports 3-5 days/week)
      </option>
      <option value="very">
        Very active (hard exercise/sports 6-7 days/week)
      </option>
      <option value="extra">
        Extra active (very hard exercise/sports & physical job)
      </option>
    </select>
  </div>
  <div class="field"> 
    <span><i class="fa-solid fa-bullseye"></i></span>
    <select name="goals" id="" formControlName="goal">
      <option disabled value="" selected>Select your Goal</option>
      <optgroup label="Fat Lose">
        <option value="lose-10">Cautious(-10% kcal)</option>
        <option value="lose-20">Recommended(-20% kcal)</option>
        <option value="lose-30">Aggressive(-30% kcal)</option>
        <option value="lose-40">Very Aggressive(-40% kcal)</option>
      </optgroup>
      <optgroup label="Maintain">
        <option value="maintain">Maintain</option>
      </optgroup>
      <optgroup label="Weight Gain">
        <option value="gain-10">Cautious(+10% kcal)</option>
        <option value="gain-20">Recommended(+20% kcal)</option>
        <option value="gain-30">Aggressive(+30% kcal)</option>
        <option value="gain-40">Very Aggressive(+40% kcal)</option>
      </optgroup>
    </select>
  </div>
</div>
  <button (click)="calculateCalories()">
    Calculate Calories
  </button>
 
</form> 
<div  class="text-center py-5">
<h1>Total Calories: {{ lowerBound | number:'1.0-0' }} - {{ upperBound | number:'1.0-0' }}  Kcal</h1>
</div>
</div>