<div class="container">
    <form (ngSubmit)="searchRecipe()" class="px-20 py-6">
      <div class="field">
    <span><i class="fa-solid fa-utensils"></i></span>
     <input type="text" id="dishName" name="dishName" [(ngModel)]="dishName" placeholder="Dish Name"/>
     </div>
      <button type="submit" (click)="searchRecipe()" (click)="showLoader()">Search</button>
    </form>

    <div *ngIf="isLoading; else loadedContent" class="justify-center items-center flex w-full gap-6 py-16">
  
      <svg class="pl" width="240" height="240" viewBox="0 0 240 240">
        <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
        <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
        <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
        <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
      </svg>
    </div>

  <ng-template #loadedContent>
    <div *ngIf="recipe" >
      <h2>{{ recipe.title }}</h2>
      <img [src]="recipe.image" alt="{{ recipe.title }}">
  
      <div *ngIf="recipe.readyInMinutes">
        <p>Ready in {{ recipe.readyInMinutes }} minutes</p>
      </div>
  
      <div *ngIf="recipe.servings">
        <p>Servings: {{ recipe.servings }}</p>
      </div>
  
      <div *ngIf="recipe.extendedIngredients">
        <h3>Ingredients:</h3>
        <ul>
          <li *ngFor="let ingredient of recipe.extendedIngredients">{{ ingredient.original }}</li>
        </ul>
      </div>
  
      <div *ngIf="recipe.instructions">
        <h3>Instructions:</h3>
        <p>{{ recipe.instructions }}</p>
      </div>
  
      <div *ngIf="recipe.diets && recipe.diets.length > 0">
        <h3>Diets:</h3>
        <ul>
          <li *ngFor="let diet of recipe.diets">{{ diet }}</li>
        </ul>
      </div>
  
      <div *ngIf="recipe.nutrition">
        <h3>Nutrition Facts:</h3>
        <p>Calories: {{ recipe.nutrition.calories }}</p>
        <p>Protein: {{ recipe.nutrition.protein }}</p>
        <p>Fat: {{ recipe.nutrition.fat }}</p>
        <p>Carbohydrates: {{ recipe.nutrition.carbs }}</p>
      </div>
  
      <!-- Add more details as needed -->
  
      <h2>Related Recipes</h2>
      <ul *ngFor="let relatedRecipe of relatedRecipes">
        <li >{{ relatedRecipe.title }}</li>
        
          
            <p>Ready in {{ relatedRecipe.readyInMinutes }} minutes</p>
          
           
          
      </ul>
    </div>
  </ng-template>

    <div *ngIf="errorMessage">
      <p class="error">{{ errorMessage }}</p>
    </div>
  </div>
  
  
