.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .field input{
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 16px;
    outline: none;
    border: none;
    color: #31344b;
    background: #e6e7ee;
    border-radius: 25px;
    box-shadow:4px 4px 8px #b8b9be,-4px -4px 8px #fff;
  }
  
  
  
  .field input:focus{
    box-shadow: inset 4px 4px 8px #b8b9be,inset -4px -4px 8px #fff;
  }
  
  .related-recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .related-recipe {
    width: 300px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .related-recipe h3 {
    margin-top: 0;
  }
  
  .related-recipe-image img {
    width: 100%;
    border-radius: 10px;
  }
  
  .related-recipe-details {
    margin-top: 10px;
  }
  
  .related-recipe-details p {
    margin: 5px 0;
  }
  form{
    background: #e6e7ee;
  border-radius: 10px;
  box-shadow: inset 3px 3px 6px #b8b9be,inset -3px -3px 6px #fff;
  }

  button{
    margin: 25px 0 0 0;
    width: 100%;
    height: 50px;
    color: #31344b;
    font-size: 18px;
    font-weight: 600;
    background: #e6e7ee;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 4px 4px 8px #b8b9be,-4px -4px 8px #fff;
  }
  
  button:focus{
    color: #3498db;
    box-shadow: inset 4px 4px 8px #b8b9be,inset -4px -4px 8px #fff;
  }
