
<div class="px-32 pt-24 text-center m-auto max-sm:px-0">
  <h1 class="text-[40px] font-semibold max-sm:text-[30px]">Discover delectable delights</h1>
  <p class="leading-7 text-[16px] max-md:hidden px-24 pt-3">Unleash your culinary creativity with our Recipe Finder. Simply input the name of your desired dish, and watch as we curate a curated selection of mouthwatering recipes, along with detailed instructions and additional insights. </p>
</div>

<div class="pb-4 pt-16 text-center max-md:pt-10">
  <h1 class="text-[18px] font-medium max-sm:text-[16px]">Ready to give it a shot? Enter the Dish.</h1>
</div>

    <form (ngSubmit)="searchRecipe()" class="px-20 py-6">
      <div class="field">
    <span><i class="fa-solid fa-utensils"></i></span>
     <input type="text" id="dishName" name="dishName" [(ngModel)]="dishName" placeholder="Dish Name"/>
     </div>
      <button type="submit" (click)="searchRecipe()" (click)="showLoader()">Search</button>
    </form>

    <div *ngIf="isLoading && !errorMessage; else loadedContent" class="justify-center items-center flex w-full gap-6 py-16">  
      <div class="loading" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

  <ng-template #loadedContent>
    <div *ngIf="recipe" >
      <h2>{{ recipe.title }}</h2>
      <img [src]="recipe.image" alt="{{ recipe.title }}">
  
      <div *ngIf="recipe.readyInMinutes">
        <p>Ready in {{ recipe.readyInMinutes }} minutes</p>
      </div>
  
      <div *ngIf="recipe.servings">
        <p>Servings: {{ recipe.servings }}</p>
      </div>
  
      <div *ngIf="recipe.extendedIngredients">
        <h3>Ingredients:</h3>
        <ul>
          <li *ngFor="let ingredient of recipe.extendedIngredients">{{ ingredient.original }}</li>
        </ul>
      </div>
  
      <div *ngIf="recipe.instructions">
        <h3>Instructions:</h3>
        <p>{{ recipe.instructions }}</p>
      </div>
  
      <div *ngIf="recipe.diets && recipe.diets.length > 0">
        <h3>Diets:</h3>
        <ul>
          <li *ngFor="let diet of recipe.diets">{{ diet }}</li>
        </ul>
      </div>
  
      <div *ngIf="recipe.nutrition">
        <h3>Nutrition Facts:</h3>
        <p>Calories: {{ recipe.nutrition.calories }}</p>
        <p>Protein: {{ recipe.nutrition.protein }}</p>
        <p>Fat: {{ recipe.nutrition.fat }}</p>
        <p>Carbohydrates: {{ recipe.nutrition.carbs }}</p>
      </div>
  
      <!-- Add more details as needed -->
  
      <h2>Related Recipes</h2>
      <ul *ngFor="let relatedRecipe of relatedRecipes">
        <li >{{ relatedRecipe.title }}</li>
        
          
            <p>Ready in {{ relatedRecipe.readyInMinutes }} minutes</p>
          
           
          
      </ul>
    </div>
  </ng-template>

    <div *ngIf="errorMessage">
      <p class="error">{{ errorMessage }}</p>
    </div>
  
  
  
