<nav class="flex w-full justify-between items-center border-b border-[#cecece] py-4">
    
    <div>
    <img src="../assets/mealmate-high-resolution-logo-transparent.png" class="w-[150px]"
    />
   </div>
    <div class="flex">
      <ul class="nav-ul">
        <li routerLink="/planner"><a>Meal Planner</a></li>
        <li routerLink="/calorie"><a>Calorie Calc</a></li>
        <li routerLink="/fat"><a>Fat Calc</a></li>
        <li routerLink="/articles"><a>Articles</a></li>
        <li>
          <a
            ><button class="btn">
              <span class="icon">
                <i class="fa-solid fa-user"></i>
              </span>
              <span class="text">LOGIN</span>
            </button></a
          >
        </li>
      </ul>
    </div>
  </nav>
