.btn {
    width: 140px;
    height: 43px;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    background: #e6e7ee;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid #d1d9e6;
    border-radius: 5px;
    box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff!important;
  }
  
  
  
  .btn .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  .btn .text {
    transform: translateX(55px);
  }
  
  .btn:hover .icon {
    width: 140px;
  }
  
  .btn:hover .text {
    transition: all 0.5s;
    opacity: 0;
  }
  
  .btn:focus {
    color: #3498db;
  }
  
  .btn:active .icon {
    transform: scale(0.65);
  }

  .nav-ul{
    display: flex;
    align-items: center;
  }
.nav-ul li{
  padding:  0 16px;
  transition: transform 0.3s ease-out;
}
.nav-ul li:hover{
  cursor: pointer;
}



.dropdown {
  position: relative;
}

.dropdown-toggle {
  border: none;
  padding: 10px 20px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 40px;
  padding: 10px 0;
  background-color: #e6e7ee;
  border-radius: 12px;
  border: 1px solid #d1d9e6;
    z-index: 9999;
    box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff!important;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  text-decoration: none;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}
.dropdown-item li{
  font-size: 16px;
  width: 130px;
}
.dropdown-item p{
  font-size: 12px;
  color: #777777;
}
.dropdown-item:hover {
  background: #e6e7ee;
  box-shadow: inset -3px -3px 7px #ffffff73,
   inset 2px 2px 5px rgba(94, 104, 121, 0.288);
}
span i{
  font-size: 22px;
}

.logo{
  box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff!important;
  border-radius: 5px;
  border: 1px solid #d1d9e6;
}

.navv{
  box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff!important;
  border-radius: 8px;
  border: 1px solid #d1d9e6;
  background: #e6e7ee;
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}