.btn {
    width: 140px;
    height: 43px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    background: #040f16;
    color: #f5f5f5;
  }
  
  .btn:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
  }
  
  .btn .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  .btn .text {
    transform: translateX(55px);
  }
  
  .btn:hover .icon {
    width: 140px;
  }
  
  .btn:hover .text {
    transition: all 0.5s;
    opacity: 0;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active .icon {
    transform: scale(0.65);
  }

  .nav-ul{
    display: flex;
    align-items: center;
  }
.nav-ul li{
  padding:  0 16px;
  opacity: 0.9;
  transition: transform 0.3s ease-out;
}
.nav-ul li:hover{
  cursor: pointer;
  opacity: 1;
}