<nav class="flex w-full justify-between items-center py-4 px-6 max-sm:px-0" #navbar>
  <div>
     <img src="../../assets/mealmate-high-resolution-logo-transparent.png" class="w-[150px] max-sm:w-[100px]" />
  </div>
  <div class="flex">
     <ul class="nav-ul">
       <li routerLink="/planner"><a>MealPlanner</a></li>
       <div class="dropdown" (mouseover)="showDropdown = true" (mouseleave)="showDropdown = false">
         <button class="dropdown-toggle">Calculators<i class="fa-solid fa-angle-down pl-1 text-[12px]" [ngClass]="{'fas fa-angle-up': showDropdown}"></i></button>
         <div class="dropdown-menu z-10" [ngClass]="{'show': showDropdown}">
           <div class="dropdown-item border-b border-[#d1d9e6]"><li routerLink="/calorie" class="flex gap-5 items-center"><span><i class="fa-solid fa-cookie"></i></span><a>Calorie Calculator</a></li></div>
           <div class="dropdown-item"><li routerLink="/fat" class="flex gap-5 items-center" ><span><i class="fa-solid fa-bowl-food"></i></span><a>Fat Calculator</a></li></div>
         </div>
       </div>
       <li routerLink="/articles"><a>Articles</a></li>
       <div class="dropdown" (mouseover)="showDropdown2 = true" (mouseleave)="showDropdown2 = false">
         <button class="dropdown-toggle">RecipeFinder<i class="fa-solid fa-angle-down pl-1 text-[12px]" [ngClass]="{'fas fa-angle-up': showDropdown2}"></i></button>
         <div class="dropdown-menu" [ngClass]="{'show': showDropdown2}">
           <div class="dropdown-item border-b border-[#d1d9e6]"><li routerLink="/recipe" class="flex gap-5 items-center" ><span><i class="fa-solid fa-drumstick-bite"></i></span><a>Search Recipes</a></li></div>
           <div class="dropdown-item"><li routerLink="/ingredient" class="flex gap-5 items-center" ><span><i class="fa-solid fa-wheat-awn"></i></span><a>By Ingredients</a></li></div>
         </div>
       </div>
       <li>
         <a><button class="btn" routerLink="/login">
           <span class="icon"><i class="fa-solid fa-user"></i></span>
           <span class="text">LOGIN</span>
         </button></a>
       </li>
     </ul>
  </div>
  <!-- Hamburger Menu for Smaller Screens 
  <div class="sm:hidden">
     <button (click)="openMenu()" class="focus:outline-none">
      <i class="fa-solid fa-bars"></i>
     </button>
  </div>-->
 </nav>
 