<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="px-40 py-16">
   <div class="grid grid-cols-2 gap-8 pb-10">
    <div class="field">
       <span><i class="fa-solid fa-envelope"></i></span>
       <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="field">
       <span><i class="fa-solid fa-lock"></i></span>
       <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
    </div>
   </div>
    <button type="submit" mat-stroked-button [disabled]="loginForm.invalid">Login</button>
    <button class="" mat-stroked-button (click)="signInWithGoogle()">With Google</button>
   </form>
   
