

table tr th {
    text-align: center;
    padding: 4px;;
    font-weight: 500;
    font-size: 13px;
    padding-left: 30px;
  }
  table tr td {
    padding: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-left: 30px;
  }
  form label{
    color: white;
  }
  .Total-vals{
    display: flex;
    flex-direction: row;
  }
  .Total-vals h2{
    border-right: 1px solid black;
    width: 50%;
    text-align: start;
    padding: 15px;
  }
  .Total-vals span{
    width: 50%;
    text-align: end;
    padding: 15px;
  }