

table tr th {
    text-align: center;
    padding: 4px;;
    font-weight: 500;
    font-size: 13px;
    padding-left: 50px;
  }
  table tr td {
    padding: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-left: 50px;
  }
  .Total-vals{
    display: flex;
    flex-direction: row;
  }
  .Total-vals h2{
    border-right: 1px solid black;
    width: 50%;
    text-align: start;
    padding: 15px;
    border-bottom: 1px solid black;
    font-weight: 500;
  }
  .Total-vals span{
    width: 50%;
    text-align: end;
    padding: 15px;
    border-bottom: 1px solid black;
    font-weight: 500;
  }
  form{
    background: #e6e7ee;
  border-radius: 10px;
  box-shadow: inset -3px -3px 7px #ffffff73,
  inset 2px 2px 5px rgba(94, 104, 121, 0.288);
  }


  .field{
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
  }
  
  .field input,select{
    height: 100%;
    width: 100%;
    padding-left: 45px;
    font-size: 16px;
    outline: none;
    border: none;
    color: #31344b;
    background: #e6e7ee;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #babecc,
                -5px -5px 10px #ffffff73;
  }
  
  
  
  .field input:focus{
    box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #ffffff73;
  }
  
  
  .field span{
    position: absolute;
    width: 50px;
    margin-left: 14px;
    line-height: 50px;
    color: #31344b;
  }
  .field span i{
    font-size: 18px;
  }
  
  .field input::placeholder {
    color: #31344b; 
    font-size: 16px;
}
  button{
    margin: 25px 0 0 0;
    width: 100%;
    height: 50px;
    color: #31344b;
    font-size: 18px;
    font-weight: 600;
    background: #e6e7ee;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #babecc,
                -5px -5px 10px #ffffff73;
  }
  
  button:focus{
    color: #3498db;
    box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 10px #ffffff73;
  }
  .meals{
    background: #e6e7ee;
  border-radius: 10px;
  box-shadow: inset -3px -3px 7px #ffffff73,
   inset 2px 2px 5px rgba(94, 104, 121, 0.288);
  }
  .total-table{
    background: #e6e7ee;
    border-radius: 10px;
    box-shadow: inset -3px -3px 7px #ffffff73,
     inset 2px 2px 5px rgba(94, 104, 121, 0.288);
  }
  .table-inner{
    background: #e6e7ee;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
      2px 2px 5px rgba(94, 104, 121, 0.288);
  }

.nutrients-Containers{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 15px;
  padding: 8px 16px;
  border-radius: 30px;
  background: #e6e7ee;
    box-shadow: -3px -3px 7px #ffffff73,
      2px 2px 5px rgba(94, 104, 121, 0.288);
}
.nutrients-Containers > h3{
  font-size: 14px;
}

  

.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {
  from, 4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%, 54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%, to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from, 12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%, 62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%, to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%, 58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from, 8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%, 50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}


.neumorphism-input {
  height: 50px;
    width: 50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: #e6e7ee;
    border-radius: 50%;
    transition:  200ms ease-out;
    box-shadow: 2px 2px 5px #babecc,
                -5px -5px 10px #ffffff73;
}
.neumorphism-input:hover{
  cursor: pointer;
  background-color: #31344b;
     color: white;
}
.neumorphism-input input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.neumorphism-input label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: inherit;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}



.neumorphism-input label:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: transparent;
}

.neumorphism-input label:after {
  content: attr(data-label);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: bold;
}
.neumorphism-input input[type="radio"]:checked + label {
     background-color: #31344b;
     color: white;
}


