<div class="px-20 py-24 m-auto w-[85%] max-md:px-0">

<div class="px-32 text-center m-auto max-sm:px-0">
  <h1 class="text-[40px] font-semibold max-sm:text-[25px]">Put your diet on autopilot</h1>
  <p class="leading-7 text-[16px] max-sm:hidden px-14">Mealmate creates personalized meal plans based on your food preferences, budget, region, and schedule. Reach your diet and nutritional goals with our calorie calculator, daily meal plans,  and more. Create your meal plan right here in seconds.</p>
</div>

<div class="pb-4 pt-12 text-center">
  <h1 class="text-[18px] font-medium">Ready to give it a shot? Let us know your diet.</h1>
</div>

  <!--Meal Form for entering calories,meals and user's preference-->
<form [formGroup]="mealform" class="px-20 py-6 max-sm:px-3" (submit)="generateMealPlan()">
  <div>
  
<div class="grid grid-cols-2 gap-8 max-sm:grid-cols-1 max-sm:px-5">

  <div class="field">
    <span><i class="fa-solid fa-cookie-bite"></i></span>
     <input type="number" id="maxCalories" formControlName="TotalCalories" placeholder="Calories"/>
     
  
  <div *ngIf="(mealform.get('TotalCalories')?.invalid && mealform.get('TotalCalories')?.dirty) || mealform.get('TotalCalories')?.touched">
    <div *ngIf="mealform.get('TotalCalories')?.errors?.['required']" class="text-red-800">Enter Calories</div>
    <div *ngIf="mealform.get('TotalCalories')?.errors?.['min']" class="text-red-800"> Calories can't be less than 1200</div>
    <div *ngIf="mealform.get('TotalCalories')?.errors?.['max']" class="text-red-700">Calories can't be more than 3000</div>
  </div>
</div>
<div class="field">
  <span><i class="fa-solid fa-utensils"></i></span>
  <select formControlName="dietaryPreference"> 
    <option value="" disabled selected>Select Preference</option>
    <option value="none">None</option>
    <option value="Vegetarian">Vegetarian</option>
    <option value="Vegan">Vegan</option>
    <option value="Mediterranean">Mediterranean</option>
    <option value="Keto">Keto</option>   
    <option value="Paleo">Paleo</option>
    
  </select> 
  <div
    *ngIf="
      (mealform.get('dietaryPreference')?.invalid &&
        mealform.get('dietaryPreference')?.dirty) ||
      mealform.get('dietaryPreference')?.touched
    "
  >
    <div
      *ngIf="mealform.get('dietaryPreference')?.errors?.['required']"
      class="text-red-800"
    >
      Select Preference
    </div>
  </div>
</div> 
<!--
<div class="field">
  <span><i class="fa-solid fa-earth-americas"></i></span>
  <select formControlName="region"> 
    <option value="" disabled selected>Select Region</option>
    <option value="none">None</option>
    <option value="Global">Global</option>
    <option value="Pakistani">Pakistani</option>
    <option value="Italian">Italian</option>
    <option value="Turkish">Turkish</option>
  </select> 
  <div
    *ngIf="
      (mealform.get('region')?.invalid &&
        mealform.get('region')?.dirty) ||
      mealform.get('region')?.touched
    "
  >
    <div
      *ngIf="mealform.get('region')?.errors?.['required']"
      class="text-red-800"
    >
      Select Region
    </div>
  </div>
</div>-->

<div class="flex flex-col gap-2 items-start justify-start ">
  
  <label class="font-medium text-[17px]">Number of Meals:</label>
  <div class="flex gap-6 py-2">
    <div class="neumorphism-input">
      <input type="radio" id="option2"  value="2" formControlName="numberOfMeals" >
      <label for="option2" data-label="2"></label>
  </div>
  
    <div class="neumorphism-input">
      <input type="radio" id="option3"  value="3" formControlName="numberOfMeals" >
      <label for="option3" data-label="3"></label>
  </div>
  
  <div class="neumorphism-input">
      <input type="radio" id="option4" value="4" formControlName="numberOfMeals">
      <label for="option4" data-label="4"></label>
  </div>

  <div class="neumorphism-input">
    <input type="radio" id="option5"  value="5" formControlName="numberOfMeals">
    <label for="option5" data-label="5"></label>
</div>
</div>
  </div>







</div>

  <button class="p-3 px-5 rounded-lg" (click)="showLoader()" (click)="generateMealPlan()" type="submit">
    Generate Meals
  </button>
</div>

</form>

<div *ngIf="isLoading; else loadedContent" class="justify-center items-center flex w-full gap-6 py-16">
  
  <div class="loading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>


<!--Meal are displayed here depending on user's preference-->
<ng-template #loadedContent>
  <h1 class="text-[26px] font-semibold max-sm:text-[22px] pt-10 pb-5" *ngIf="filteredMeals.length > 1">Today's Meal Plan</h1>
<div class="flex justify-between gap-10 max-sm:flex-col items-center" *ngIf="filteredMeals.length > 1">
  <div class="w-full max-sm:w-full">
    <div *ngFor="let meal of filteredMeals;let i = index" class="meals mb-5">
      <div class="px-4 py-2">
        <div class="flex justify-between items-center pb-3">
          <div class="font-semibold text-[18px] flex flex-col">
      <h1 *ngIf="i === 0">Breakfast</h1>
      <h1 *ngIf="i === 1">Lunch</h1>
      <h1 *ngIf="i === 2">Dinner</h1>
      <h1 *ngIf="i === 3">Supper</h1>
      <h3 class="text-[15px] font-normal">{{ meal.totalcal }} calories</h3>
    </div>
    <div class="flex gap-4 items-center">
      <span class="opacity-55 hover:opacity-100 transition-opacity cursor-pointer text-[19px]"><i class="fa-solid fa-rotate"></i></span>
      <span class="opacity-55 hover:opacity-100 transition-opacity cursor-pointer text-[14px] px-1" style="outline: 1px solid #31344b; border-radius: 50%;"><i class="fa-solid fa-ellipsis"></i></span>
    </div>
    </div>
      <ul>
        <li *ngFor="let food of meal.foods">
        <div class="flex gap-4 mb-4">
          <img [src]="food.image" class="rounded-xl w-[50px] h-[50px] object-cover">
          <div class="">
          <span class="font-semibold text-[16px]">{{ food.name }}</span><br>
          <span class="text-[15px] opacity-100 font-normal">{{ food.perServing }}</span>
          </div>
        </div>
        </li>
      </ul>
     </div>
    </div>
  </div>


  <div class="flex flex-col w-[40%] max-sm:w-full px-4 py-2">
    <h1 class="text-[#000000] text-[1.5rem] font-semibold pb-4">Total Nutrition Value</h1>
    <div class="total-table">
      <div class="Total-vals">
        <h2>Total Calories</h2>
        <span>{{totalCalories}} Kcal</span>
      </div>
      <div class="Total-vals">
        <h2>Total Protein</h2>
        <span>{{totalProtein}} g</span>
      </div>
      <div class="Total-vals">
        <h2>Total Carbs</h2>
        <span>{{totalCarbs}} g</span>
      </div>
      <div class="Total-vals">
        <h2>Total Fat</h2> 
        <span>{{totalFat}} g</span>
      </div>
      <div class="Total-vals">
        <h2>Total Sugar</h2>
        <span>{{TotalSugar | number}} g</span>
      </div>
      <div class="Total-vals">
        <h2>Total Fiber</h2>
        <span>{{TotalFiber}} g</span>
      </div>
    </div>
  </div>
  </div>
</ng-template>


<div>
  
</div>



<div class="grid grid-cols-2 gap-10 justify-between items-center contact my-10 px-4 py-4">
  <div class="px-6 flex flex-col gap-3">
    <h1 class="text-[24px] font-semibold py-1">Get in touch</h1>
    <p>If you need any help with our products or services, choose one of the following ways to contact us.</p>
    <a class="cnt-btn p-2 my-2" routerLink="/login"><span class="mr-3"><i class="fa-regular fa-address-book"></i></span>Contact Us</a>
  </div>
  <div>
  <img src="https://demo.themesberg.com/neumorphism-ui/assets/img/illustrations/reading-side.svg" class="w-[350px]">
</div>
</div>

</div>