<div class="px-20 py-10">

  <!--Meal Form for entering calories,meals and user's preference-->
<form [formGroup]="mealform" class="bg-green-900 px-20 py-6 rounded-2xl " >
  <div class="py-4 text-center">
  <h1 class="text-[35px] text-white font-semibold">Stay In Shape Perfect With MealMate</h1>
  <h6 class="text-[20px] text-white font-medium">Elevate Your Meals: Try Our Meal Planner Today!</h6>
</div>
  <label for="maxCalories">Calories:</label>

  <div
    *ngIf="
      (mealform.get('TotalCalories')?.invalid &&
        mealform.get('TotalCalories')?.dirty) ||
      mealform.get('TotalCalories')?.touched">
    <div
      *ngIf="mealform.get('TotalCalories')?.errors?.['required']"
      class="text-red-800">
      Calories are Required
    </div>
    <div
      *ngIf="mealform.get('TotalCalories')?.errors?.['min']"
      class="text-red-800">
      Calories cannot be less than 300
    </div>
  </div>
  <input
    type="number"
    id="maxCalories"
    formControlName="TotalCalories"
    placeholder="Enter Calories..."
  />
  <label for="no.ofMeals">Number of Meals:</label>
  <div
    *ngIf="
      (mealform.get('numberOfMeals')?.invalid &&
        mealform.get('numberOfMeals')?.dirty) ||
      mealform.get('numberOfMeals')?.touched">
    <div
      *ngIf="mealform.get('numberOfMeals')?.errors?.['required']"
      class="text-red-800">
      No. of Meals are Required
    </div>
    <div
      *ngIf="mealform.get('numberOfMeals')?.errors?.['min']"
      class="text-red-800">
      Meals cannot be less than 1
    </div>
  </div>
  <input
    type="number"
    id="numberOfMeals"
    formControlName="numberOfMeals"
    placeholder="Enter Meals..."
  />
  <label>Dietry Preference:</label>
  <div
    *ngIf="
      (mealform.get('dietaryPreference')?.invalid &&
        mealform.get('dietaryPreference')?.dirty) ||
      mealform.get('dietaryPreference')?.touched
    "
  >
    <div
      *ngIf="mealform.get('dietaryPreference')?.errors?.['required']"
      class="text-red-800"
    >
      Preference is Required
    </div>
  </div>
  <select formControlName="dietaryPreference">
    <option value="Soy free">Soy free</option>
    <option value="Dairy free">Dairy free</option>
    <option value="Egg free">Egg free</option>
    <option value="Fish free">Fish free</option>
    <option value="Vegetarian">Vegetarian</option>
    <option value="Vegan">Vegan</option>
    <option value="Halal">Halal</option>
    <option value="Gluten free">Gluten free</option>
    <option value="Kosher">Kosher</option>
    <option value=" Nut free">Nut free</option>
    <option value="Paleo">Paleo</option>
    <option value="Pescetarian">Pescetarian</option>
    <option value="Shellfish free">Shellfish free</option>
  </select>

  <button (click)="generateMealPlan()" class="bg-slate-700 text-white p-3">
    Filter Meals
  </button>
</form>


<!--Meal are displayed here depending on user's preference-->

<div *ngIf="filteredMeals.length > 0" class="mt-10 px-20">
  <ul>
    <li
      *ngFor="let meal of filteredMeals"
      class="flex rounded-xl bg-white p-4 shadow-lg mb-6 gap-5 justify-start"
    >
      <img
        [src]="meal.image"
        class="rounded-xl w-[100px] h-[100px] object-cover"
      />
      <div class="flex flex-col text-start">
        <h1 class="pl-2 text-[20px] font-medium pb-2">{{ meal.name }}</h1>
        <table class="w-full table-auto border-collapse">
          <thead>
            <tr>
              <th>Calories</th>
              <th>Protein</th>
              <th>Carbs</th>
              <th>Fat</th>
              <th>Sugar</th>
              <th>Fibre</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ meal.calories }}</td>
              <td class="text-green-600">{{ meal.protein }}g</td>
              <td class="text-orange-700">{{ meal.carbs }}g</td>
              <td class="text-purple-600">{{ meal.fat }}g</td>
              <td class="text-red-600">{{ meal.sugar }}g</td>
              <td class="text-yellow-600">{{ meal.fiber }}g</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>


</div>