table tr th {
  text-align: center;
  padding: 4px;
  font-weight: 500;
  font-size: 13px;
  padding-left: 50px;
}
table tr td {
  padding: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding-left: 50px;
}
.Total-vals {
  display: flex;
  flex-direction: row;
}
.Total-vals h2 {
  border-right: 1px solid black;
  width: 50%;
  text-align: start;
  padding: 15px;
  border-bottom: 1px solid black;
  font-weight: 500;
}
.Total-vals span {
  width: 50%;
  text-align: end;
  padding: 15px;
  border-bottom: 1px solid black;
  font-weight: 500;
}
form {
  background: #e6e7ee;
  border-radius: 10px;
  box-shadow: inset 3px 3px 6px #b8b9be, inset -3px -3px 6px #fff;
  z-index: -1;
}

.field {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}

.field input,
select {
  height: 100%;
  width: 100%;
  padding-left: 45px;
  font-size: 16px;
  outline: none;
  border: none;
  color: #31344b;
  background: #e6e7ee;
  border-radius: 25px;
  box-shadow: 4px 4px 8px #b8b9be, -4px -4px 8px #fff;
}

.field input:focus {
  box-shadow: inset 4px 4px 8px #b8b9be, inset -4px -4px 8px #fff;
}

.field span {
  position: absolute;
  width: 50px;
  margin-left: 14px;
  line-height: 50px;
}
.field span i {
  font-size: 18px;
}

.field input::placeholder {
  color: #31344b;
  font-size: 16px;
}
button {
  margin: 25px 0 0 0;
  width: 100%;
  height: 50px;
  color: #31344b;
  font-size: 18px;
  font-weight: 600;
  background: #e6e7ee;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 4px 4px 8px #b8b9be, -4px -4px 8px #fff;
}

button:focus {
  color: #3498db;
  box-shadow: inset 4px 4px 8px #b8b9be, inset -4px -4px 8px #fff;
}
.meals {
  background: #e6e7ee;
  border-radius: 10px;
  box-shadow: inset 3px 3px 6px #b8b9be, inset -3px -3px 6px #fff;
}
.total-table {
  background: #e6e7ee;
  border-radius: 10px;
  box-shadow: inset 4px 4px 8px #b8b9be, inset -4px -4px 8px #fff;
}
.table-inner {
  background: #e6e7ee;
  border-radius: 10px;
  box-shadow: 4px 4px 8px #b8b9be, -4px -4px 8px #fff;
}

.nutrients-Containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 15px;
  padding: 8px;
  border-radius: 100px;
  background: #e6e7ee;
  box-shadow: 4px 4px 8px #b8b9be, -4px -4px 8px #fff;
}
.nutrients-Containers > h3 {
  font-size: 14px;
}

.neumorphism-input {
  height: 50px;
  width: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #e6e7ee;
  border-radius: 50%;
   border: 1px solid #d1d9e6;
  transition: 200ms ease-out;
  box-shadow: 4px 4px 8px #b8b9be, -4px -4px 8px #fff;
}

.neumorphism-input:hover {
  cursor: pointer;
  background-color: #31344b;
  color: white;
}
.neumorphism-input input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.neumorphism-input label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: inherit;
  border: 1px solid #d1d9e6;
  cursor: pointer;

  transition: transform 0.2s ease-in-out;
}

.neumorphism-input label:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: transparent;
}

.neumorphism-input label:after {
  content: attr(data-label);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: bold;
}
.neumorphism-input input[type="radio"]:checked + label {
  background-color: #31344b;
  color: white;
}

.contact{
  background: #e6e7ee;
  border-radius: 10px;
  box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff!important;
  border: 1px solid #d1d9e6;
}

.cnt-btn{
  mask-position: relative;
  border: 1px solid#d1d9e6;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
  font-size: 1rem;
  border-radius: 12px;
  margin-top: 10px;
  font-weight:600;
  transition: transform 0.3s ease-in-out;
}

.cnt-btn:hover{
  box-shadow: inset 3px 3px 6px #b8b9be,inset  -3px -3px 6px #fff;
}
.span{
  background: #e6e7ee;
  border-radius: 50%;
  font-size: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #d1d9e6;
  box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff!important;
}
.copyright{
  border-top: 1px solid #d1d9e6;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}