<div class="">

<form [formGroup]="fatForm" class="px-20 py-6 max-sm:px-4" (submit)="calculateFat()">
    <div class="py-4 text-center">
        <h1 class="text-[35px] font-semibold max-sm:text-[26px]">Gauge Your Fat Consumption with Precision</h1>
      </div>
    <div class="grid grid-cols-2 gap-6 max-sm:gap-4">
    <div class="field">
        <span><i class="fa-solid fa-venus-mars"></i></span>
        <select name="gender" formControlName="gender">
          <option value="" disabled selected>Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
    </div>
    <div class="field">
       <span><i class="fa-solid fa-ruler"></i></span>
    <input type="number" placeholder="Waist(cm)" formControlName="waist" />
    </div>
    <div class="field">
       <span><i class="fa-solid fa-ruler-vertical"></i></span>
    <input type="number" placeholder="Height(cm)" formControlName="height" />
    </div>
    <div class="field">
        <span><i class="fa-solid fa-ruler-vertical"></i></span>
    <input type="number" placeholder="Neck(cm)" formControlName="neck" />
    </div>
    <div *ngIf="fatForm.get('gender')?.value ==='female'" class="field">
        <span><i class="fa-solid fa-ruler"></i></span>
        <input type="number" placeholder="Hip(cm)" formControlName="hip">
    </div>
</div>
    <button type="submit">
        Calculate Fat
      </button>

</form>
<div class="text-center py-5">
<h1>Body's Fat:  {{totalFat | number}} %</h1>
</div>
</div>