<h1 class="text-[40px] text-center">Body Fat Calculator</h1>

<form [formGroup]="fatForm" class="flex flex-col justify-center">
    
    
    <div>
        <label>Select gender:</label>
        <select name="gender" formControlName="gender">
          <option value="" disabled>Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
    </div>
    <div>
        <label>Enter Waist(cm):</label>
    <input type="number" placeholder="Enter Waist" formControlName="waist" />
    </div>
    <div>
        <label>Enter height</label>
    <input type="number" placeholder="Enter height" formControlName="height" />
    </div>
    <div>
        <label>Enter Neck(cm):</label>
    <input type="number" placeholder="Enter Neck" formControlName="neck" />
    </div>
    <div *ngIf="fatForm.get('gender')?.value ==='female'">
        <label>Enter Hip:</label>
        <input type="number" placeholder="Enter Your Hip" formControlName="hip">
    </div>
    <button (click)="calculateFat()" type="button" class="bg-[#040f16] text-[#fff] p-3 rounded-xl">
        Calculate Fat
      </button>

    <h1>Body's Fat Percentage:{{totalFat | number}}</h1>
</form>
