<div class="fixed top-0 left-0 w-full h-full flex justify-center items-center navv bg-opacity-75 z-50 overflow-hidden p-[20%]" *ngIf="showLogo" [@showLogo]="showLogo">
   
   <div class="text-center flex flex-col justify-center items-center gap-10"> 
    <img src="../assets/mealmate-high-resolution-logo-transparent.png" alt="Logo" class="w-[70%] max-sm:w-[85%]">
    <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  

<app-navbar></app-navbar>


<router-outlet></router-outlet>
