/* articles.component.css */

.article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
  }
  
  .article-card {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #dde1e7;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
     2px 2px 5px rgba(94, 104, 121, 0.288);
  }
  
  .article-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .article-details {
    flex-grow: 1; /* Ensure the details section takes up remaining space */
  }
  
  .loading, .error {
    margin-top: 20px;
  }
  