

<div class="article-list" *ngIf="!loading && !error">
    <div class="article-card" *ngFor="let article of pagedArticles">
      <img [src]="article.imageUrl" alt="Article Image" class="article-image">
      <div class="article-details">
        <h2><strong>Title:</strong>{{ article.title }}</h2>
        <p><strong>Description:</strong>{{ article.description }}</p>
        <p><strong>Source:</strong> {{ article.source.name }}</p>
        <p><strong>Author:</strong> {{ article.author }}</p>
        <p><strong>Published At:</strong> {{ article.publishedAt | date: 'mediumDate' }}</p>
        <a [href]="article.url" target="_blank">Read more</a>
      </div>
    </div>
  </div>
  
  <div  *ngIf="loading" class="justify-center items-center flex w-full gap-6 py-16 loading">
    <svg class="pl" width="240" height="240" viewBox="0 0 240 240">
      <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
      <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
      <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
      <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
    </svg>
  </div>
  
  <div class="error" *ngIf="error">
    {{ error }}
  </div>

  <div class="pagination" *ngIf="!loading">
    <button (click)="previousPage()" [disabled]="currentPage === 1" *ngIf="currentPage !== 1">Page {{currentPage - 1}}</button>
    <span>{{ currentPage }}</span>
    <button (click)="nextPage()" [disabled]="currentPage * articlesPerPage >= articles.length">Page {{currentPage + 1}}</button>
  </div>

