<div class="container">
    
    <div>
      
      <textarea [(ngModel)]="ingredientsInput" rows="6" placeholder="Enter Ingredients ..."></textarea>
      <button (click)="analyzeNutrition()" (click)="showLoader()" >Analyze</button>
    </div>
  
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="isLoading; else loadedContent" class="justify-center items-center flex w-full gap-6 py-16">
  
      <svg class="pl" width="240" height="240" viewBox="0 0 240 240">
        <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
        <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
        <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
        <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
      </svg>
    </div>

    <ng-template #loadedContent>

    <div *ngIf="suggestedRecipes.length > 0">
      <h2>Suggested Recipes</h2>
      <div *ngFor="let recipe of suggestedRecipes" class="recipe">
        <h3>{{ recipe.title }}</h3>
        <p>Ready in: {{ recipe.readyInMinutes }} minutes</p>
        <p>Servings: {{ recipe.servings }}</p>
        <img *ngIf="recipe.image" [src]="recipe.image" alt="{{ recipe.title }}" width="150">
        
      </div>
    </div>
  </ng-template>
  </div>
  