<div class="container">
    
    <div>
      
      <textarea [(ngModel)]="ingredientsInput" rows="6" placeholder="Enter Ingredients ..."></textarea>
      <button (click)="analyzeNutrition()" (click)="showLoader()" >Analyze</button>
    </div>
  
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="isLoading; else loadedContent" class="justify-center items-center flex w-full gap-6 py-16">  
  <div class="loading">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
    </div>

    <ng-template #loadedContent>

    <div *ngIf="suggestedRecipes.length > 0">
      <h2>Suggested Recipes</h2>
      <div *ngFor="let recipe of suggestedRecipes" class="recipe">
        <h3>{{ recipe.title }}</h3>
        <p>Ready in: {{ recipe.readyInMinutes }} minutes</p>
        <p>Servings: {{ recipe.servings }}</p>
        <img *ngIf="recipe.image" [src]="recipe.image" alt="{{ recipe.title }}" width="150">
        
      </div>
    </div>
  </ng-template>
  </div>
  