
  .textdiv textarea{
    width: 100%;
    padding: 8px;
    border-radius: 25px;
    font-size: 1rem;
    background: #e6e7ee;
    color: #31344b;
    box-shadow:4px 4px 8px #b8b9be,-4px -4px 8px #fff;
  }
  .textdiv textarea:focus {
    box-shadow:inset 4px 4px 8px #b8b9be,inset -4px -4px 8px #fff;
    outline: none;
  }
  .textdiv textarea::placeholder{
    color: #31344b;
  }
  button{
    margin: 25px 0 0 0;
    width: 100%;
    height: 50px;
    color: #31344b;
    font-size: 18px;
    font-weight: 600;
    background: #e6e7ee;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 4px 4px 8px #b8b9be,-4px -4px 8px #fff;
  }
  
  button:focus{
    color: #3498db;
    box-shadow: inset 4px 4px 8px #b8b9be,inset -4px -4px 8px #fff;
  }

  
  .error {
    color: #ff0000;
    margin-bottom: 10px;
  }
  
  .recipe {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .recipe h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .recipe p {
    margin-bottom: 5px;
  }
  
  .recipe img {
    display: block;
    margin-bottom: 10px;
  }
  
  .recipe ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .recipe ul li {
    margin-bottom: 5px;
  }
  
  .containera{
    background: #e6e7ee;
  border-radius: 10px;
  box-shadow: inset 3px 3px 6px #b8b9be, inset -3px -3px 6px #fff;
  z-index: -1;
  }