
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #e6e7ee;
    padding: 10px;
    font-family: "Quicksand", sans-serif;
    color: #31344b;
 }
 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 input,select{
  height: 100%;
  width: 100%;
  padding-left: 45px;
  font-size: 16px;
  outline: none;
  border: none;
  color: #31344b;
  background: #e6e7ee;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #babecc,
              -5px -5px 10px #ffffff73;
  
}
 input:focus{
  box-shadow: inset 2px 2px 5px #babecc,
              inset -5px -5px 10px #ffffff73;
}
   
.field{
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}

.field input,select{
  height: 100%;
  width: 100%;
  padding-left: 45px;
  font-size: 16px;
  outline: none;
  border: none;
  color: #31344b;
  background: #e6e7ee;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #babecc,
              -5px -5px 10px #ffffff73;
}



.field input:focus{
  box-shadow: inset 2px 2px 5px #babecc,
              inset -5px -5px 10px #ffffff73;
}


.field span{
  position: absolute;
  width: 50px;
  margin-left: 14px;
  line-height: 50px;
  color: #31344b;
}
.field span i{
  font-size: 18px;
}

.field input::placeholder {
  color: #31344b; 
  font-size: 16px;
}


html, body { height: 100%; }
body { margin: 0; }


.loading {
  --speed-of-animation: 1s;
  --gap: 6px;
  --first-color: #31344b;
  --second-color: #31344b;
  --third-color: #31344b;
  --fourth-color: #31344b;
  --fifth-color: #31344b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 6px;
  height: 100px;
 }
 
 .loading span {
  width: 7px;
  height: 50px;
  border-radius: 24px;
  background: var(--first-color);
  animation: scale var(--speed-of-animation) ease-in-out infinite;
 }
 
 .loading span:nth-child(2) {
  background: var(--second-color);
  animation-delay: -0.9s;
 }
 
 .loading span:nth-child(3) {
  background: var(--third-color);
  animation-delay: -0.8s;
 }
 
 .loading span:nth-child(4) {
  background: var(--fourth-color);
  animation-delay: -0.7s;
 }
 
 .loading span:nth-child(5) {
  background: var(--fifth-color);
  animation-delay: -0.6s;
 }
 
 @keyframes scale {
  0%, 40%, 100% {
   transform: scaleY(0.05);
  }
 
  20% {
   transform: scaleY(1);
  }
 }

 p{
  color: #44476a;
 }
 .error {
  color: red;
  text-align: center;
}

