@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #e6e7ee;
    padding: 10px 40px;
 }
 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }
 input,select{
  height: 100%;
  width: 100%;
  padding-left: 45px;
  font-size: 16px;
  outline: none;
  border: none;
  color: #595959;
  background: #e6e7ee;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #babecc,
              -5px -5px 10px #ffffff73;
}
 input:focus{
  box-shadow: inset 2px 2px 5px #babecc,
              inset -5px -5px 10px #ffffff73;
}
   
 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
